<div style="font-family: sans-serif; font-size: 150%; background-color:SkyBlue">
<p>2- BITCOIN - ETHEREUM</p>
</div>


<div style="position:fixed; right:10px; top:2px; background-color:SkyBlue;">
Total ETH: {{totalCoin('eth')}}
TOTAL BTC: {{totalCoin('btc')}}
</div>

<div *ngIf="transactionStatus()">
<h2>
THERE ARE NOT TRANSACTIONS
</h2>
</div>


<div style="font-family: sans-serif; font-size: 100%;background-color:SkyBlue">---------------WALLETS-----------------------</div>


<div style="display: flex; flex-direction: row">
<div *ngFor="let wallet of wallets">
  <app-wallet [data]="wallet">
  </app-wallet>
</div>
</div>
<div 

style="font-family: sans-serif; font-size: 100%; background-color:SkyBlue">---------------TRANSACTIONS-----------------------</div>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">

  <app-transaction [data]="transaction">

  <button
  [disabled]="transaction.mineType === 'PoS' &&
  transaction.miner < 20"
  
  (click)="mine(transaction, i)">
  mine
  </button>
  </app-transaction>
  
  </div>
  </div>