<p>APP</p>


<p>PURE: {{ data | pure }}</p>
<p>IMPURE: {{ data | impure }}</p>

<button (click)="data.push(10)">add</button>


<button routerLink="view3"
        routerLinkActive="active-router">view3</button>
<button routerLink="view1"
        routerLinkActive="active-router">view1</button>
<button routerLink="view2"
        routerLinkActive="active-router">view2</button>
<button routerLink="view1/view1sub1"
        routerLinkActive="active-router">view1/viewisub1</button>
<div style="border: 4px red solid">
  <router-outlet>

  <button routerLink="home"
  routerLinkActive="active-router">home</button>
  
  <button routerLink="home/home1"
  routerLinkActive="active-router">home1</button>
  
  <button routerLink="home/home2"
  routerLinkActive="active-router">home2</button>
  
  <button routerLink="admin"
  routerLinkActive="active-router">admin</button>
  
  <button routerLink="admin/admin1"
  routerLinkActive="active-router">admin1</button>
  
  <button routerLink="admin/admin2"
  routerLinkActive="active-router">admin2</button>
  

  </router-outlet>
</div>
