
<p style="position: absolute; top: 10px; right: 10px">TOTAL BTC: {{contBTC}} TOTAL ETH: {{contETH}}</p>

<br>

<div>Wallets</div>

<ng-container *ngFor="let person of wallets;">
  <div *ngIf="person.eth + person.btc > 10 else lower">
    <div style="background-color:brown ">
      Wallet: {{person.wallet}}
      <p> name: {{person.name}}
      <p> ETH: {{person.eth}}
      <p> BTC: {{person.btc}}
    </div>
  </div>

    <div style="background-color:gray ">
      Wallet: {{person.wallet}}
      <p> name: {{person.name}}
      <p> ETH: {{person.eth}}
      <p> BTC: {{person.btc}}
    </div>
    <p></p>
</ng-container>

<div>Transactions</div>
<ng-container *ngFor="let item of transactions;">
  <div *ngIf="item.mineType === 'PoW' else type">
    <div style="background-color:yellow ">
      date: {{item.date}},
      <p> from: {{item.from}},
      <p> to: {{item.to}},
      <p> quantity: {{item.quantity}},
      <p> moneyType: {{item.moneyType|uppercase}},
      <p> mineType: {{item.mineType}},
      <p> miner: {{item.miner}}
      <p> <button>Mine</button>
    </div>
  </div>

  <ng-template #type>
  <div style="background-color:green ">
    date: {{item.date}},
    <p> from: {{item.from}},
    <p> to: {{item.to}},
    <p> quantity: {{item.quantity}},
    <p> moneyType: {{item.moneyType |uppercase}},
    <p>MineType: {{mineType}}</p>
    <p>Miner: {{miner}}</p>
    <button *ngIf="mineType === 'PoS' else myVarElse" 
            [disabled]="miner > 20">
            mine
    </button>
    <ng-template #myVarElse>
        <button >mine
        </button>
    </ng-template>
